body {
  text-align: center;
  font-family: 'Archivo', sans-serif;
  font-size: 100%;
}

.panel {
  padding: 3.75rem 0;
  color: #6b6b6b;
}

h2 {
  text-transform: capitalize;
}

.about p {
  margin: 1rem;
}

.portfolio a {
  margin-bottom: 2rem;
}

.portfolio .btn {
  color: #a7a7a7;
  border-color: #a7a7a7;
}

.portfolio .btn:hover {
  color: #2c3e50;
  border-color: #2c3e50;
}

.hero {
  background-color: #dadada;
  color: #fff;
  text-transform: uppercase;
}

.panel--dark {
  background-color: #eeeeee;
}

header .navigation{
  background-color: #4E5B54;
  padding: 0;
}

header nav a {
  color: rgb(172, 177, 174);
}

header nav a:hover {
  color: rgb(255, 255, 255);
  transition: #fff 0.2s linear;
}

.team button {
  background-color: #2c3e50;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.team .card {
  background-color: transparent;
  border-color: transparent;
  color: #6b6b6b;
}

.team .button {
  position: absolute:

}

img {
  padding: 0.5rem 0;
}

form {
  padding: auto;
  text-align: left;
}

footer ul a {
  color: #bababa;
}

footer ul a:hover {
  color: #757575;
}

footer {
  color: #cbcbcb;
}

.portfolio .card {
  margin-bottom: 2rem;
  background-color: transparent;
  position: relative;
  text-align: left;
  border-color: transparent;
}

.portfolio .card-body {
  background-color: transparent;
  color: #757575;
}

.overlay {
  opacity: 0;
  position: absolute;
}

.overlay img {
  margin-top: 25%;
  margin-left:25%;
}

.portfolio .card:hover .overlay{
  content: "";
  opacity: 1; 
  background: #9a9a9a;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
